html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
}

.wrap {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    z-index: 1;
}

.pc {
    display: none !important;

    @media screen and (min-width: 769px) {
        display: block !important;
    }
}

.hamburger {
    position: relative;
    top: 0;
    left: 0;

}

.mobile {
    display: block !important;

    @media screen and (min-width: 769px) {
        display: none !important;
    }
}

@function rwdP($val) {
    @return ($val/1240)*100vw;
}

@function rwd($val) {
    @return ($val/768)*100vw;
}

@function height($val) {
    @return ($val/950)*100%;
}

@function hfull($val) {
    @return ($val/950)*100vh;
}

@function fz($val) {
    @return ($val/992)*100vw;
}

#video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-width: 100vw;
    min-height: 100vh;
}

.header {
    position: relative;
    height: 80px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 992px) {
        height: 68px;
        padding: 16px;
    }

    &__menu {
        display: block;
        height: 100%;

        span {
            width: 45px;
            height: 8px;
            background-color: #4522f3;
            display: block;
            border-radius: 4px;
            transform-origin: left center;

            @media screen and (min-width: 992px) {
                width: 33px;
                height: 6px;
            }

            &:nth-child(1) {
                // transform: rotate(45deg);
                width: 35px;

                @media screen and (min-width: 992px) {
                    width: 26px;
                    height: 6px;
                }
            }

            &:nth-child(2) {
                margin: 8px 0;

                // opacity: 0;
                @media screen and (min-width: 992px) {
                    margin: 5px 0;
                }
            }

            &:nth-child(3) {
                // transform: rotate(-45deg);
                width: 25px;

                @media screen and (min-width: 992px) {
                    width: 20px;
                    height: 6px;
                }
            }
        }
    }

    &__score {
        font-size: 16px;
        font-family: 'Noto Sans TC', sans-serif;
        color: #FFF;
        line-height: 1.5;
        font-weight: 700;
        letter-spacing: 1px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        background-color: #4522f3;
        border-radius: 20px;
        padding: 5px 20px;
    }

    &__mute {
        display: block;
        height: 90%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            position: relative;
            width: auto;
            height: 100%;
        }

        span {
            width: 3px;
            height: 4px;
            background-color: #4522f3;
            display: block;
            margin: 0 1px;
        }
    }
}

.plus {
    position: absolute;
    z-index: 99;
    width: 8vh;
    height: 8vh;
    transform: translate(-4vh, -4vh);
    pointer-events: none;
    opacity: 0;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    &__close {
        position: absolute;
        right: 30px;
        top: 30px;
        display: block;
        width: 35px;
        height: 35px;
        z-index: 99;

        img {
            width: 100%;
        }
    }

    &__form {
        overflow-y: auto;
        height: calc(100% - 60px);
        padding: 0px 30px;
    }

    &__content {
        position: relative;
        width: 90%;
        max-width: 768px;
        background-image: url(../../images/1/texture.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 30px 0;
        max-height: 700px;
        height: 90%;

        // height: -webkit-fit-content;
        // height: -moz-fit-content;
        // height: fit-content;
        @media screen and (max-width: 992px) {
            max-height: 100%;
            height: 100%;
            width: 100%;
        }

        .title {
            color: #4522f3;
            font-family: 'Noto Sans TC', sans-serif;
            text-align: center;
            font-size: 28px;
            font-weight: 400;
            letter-spacing: 2px;
        }

        .content {
            color: #FFF;
            font-family: 'Noto Sans TC', sans-serif;
            text-align: justify;
            font-size: 15.5px;
            font-weight: 400;
            line-height: 1.5;
            margin: 30px 2%;
        }
    }

    &__btn {
        margin-top: 20px;

        a {
            display: block;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            color: #FFF;
            background-color: #4522f3;
            margin: 0 auto;
            padding: 10px 30px;
            border-radius: 30px;
            font-size: 20px;
            letter-spacing: 3px;
            font-weight: 900;
        }
    }
}

.form {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__group {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2% 0;

        @media screen and (max-width: 992px) {
            flex-wrap: wrap;
        }
    }

    &__select {
        border: none;
        outline: 2px solid #4522f3;
        padding: 10px;
        position: relative;

        &::after {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 13.0px 7.5px 0 7.5px;
            border-color: #4522f3 transparent transparent transparent;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__column {
        position: relative;
        width: 30%;
        text-align: left;

        .tip {
            position: absolute;
            margin-top: 10px;
            color: red;
            font-size: 12px;

            @media screen and (max-width: 992px) {
                position: relative;
            }
        }

        &--7 {
            margin: 0 2%;
            width: 66%;
        }

        &--5 {
            margin: 0 2%;
            width: 46%;
        }

        &--4 {
            margin: 0 2%;
            width: 36%;
        }

        &--3 {
            margin: 0 2%;
            width: 26%;
        }

        @media screen and (max-width: 992px) {
            width: 96% !important;
        }

        label {
            color: #ff7e00;
            display: block;
            margin: 10px 0;
        }

        input {
            border: none;
            outline: 2px solid #4522f3;
            background: none;
            padding: 10px;
            width: 100%;
            color: #FFF;

            &::-webkit-input-placeholder {
                color: #FFF;
            }

            &::-moz-placeholder {
                color: #FFF;
            }

            &:-ms-input-placeholder {
                color: #FFF;
            }

            &::-ms-input-placeholder {
                color: #FFF;
            }

            &::placeholder {
                color: #FFF;
            }
        }

        select {
            background: none;
            border: none;
            width: 100%;
            color: #FFF;

            &:focus {
                border: none;
                outline: none;
            }

            option {
                color: #000;
            }
        }
    }
}

.swiper-hidden {
    visibility: hidden;
}

.animate {
    &__0 {
        width: 43%;
        position: absolute;
        height: 43%;
        top: 27.5%;
        left: 50.5%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        // border: 1px solid #000;
        svg {
            position: relative;
            width: 100%;
            height: 100%;
        }

        .top {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .left {
                position: relative;
                width: 50%;
                height: 100%;
                overflow: hidden;

                &__content {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    transform-origin: right center;

                    img {
                        width: 224%;
                        height: auto;
                        left: 0;
                        top: 0;
                        transform: translate(-5%, -1%);
                        max-width: 1000%;
                        transform-origin: center;
                    }
                }
            }

            .right {
                position: relative;
                width: 50%;
                height: 100%;
                overflow: hidden;

                &__content {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    transform-origin: left center;

                    img {
                        width: 224%;
                        height: auto;
                        left: 0;
                        top: 0;
                        transform: translate(-50%, 1%);
                        max-width: 1000%;
                        transform-origin: center;
                    }
                }
            }
        }

        .cut7 {
            stroke-dasharray: 1000;
            stroke-dashoffset: 890;

            &--active {
                transition: all 1.3s;
                stroke-dashoffset: 1000;
            }
        }
    }

    &__1 {
        width: 14vh;
        position: absolute;
        height: 37%;
        top: 27.5%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @media screen and (max-width: 768px) {
            height: 40%;
        }

        div {
            position: relative;
            width: calc(16.5vh /4);
            height: calc(16.5vh /4);
            border-radius: 50%;
            background-color: #fff;

            img {
                position: absolute !important;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 85% !important;
                height: auto !important;
            }
        }
    }

    &__2 {
        width: 53%;
        position: absolute;
        height: 24%;
        top: 32.5%;
        left: 51%;
        transform: translateX(-50%);

        &--box {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            div {
                position: relative;
                width: calc(19.5vh /4);
                height: calc(19.5vh /4);
                background-image: url(../../images/1/stars.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 90%;

                img {
                    position: absolute !important;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 93% !important;
                    height: auto !important;
                }
            }
        }
    }
}